@keyframes body {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
body {
    animation-name: body;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }